* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(29, 11, 58);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.crud {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: rgb(7, 1, 34);
  margin: 5px 0;
  border-radius: 5px;
  padding: 4px;
  color: blanchedalmond;
}
input:focus {
  background: darkblue;
  transform: scale(1.05);
}
.price input {
  width: 20%;
}
#total {
  background: red;
  padding: 4px 2px;
  border-radius: 5px;
}
#total::before {
  content: "Total: ";
}

button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: rgb(46, 20, 161);
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}
button:hover {
  background: rgb(5, 3, 122);
  letter-spacing: 2px;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 40%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}

#deleteAll{
  margin: 7px 0;
}

